
.online_item_box1{
    width: 100%;
    height: 1370px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.online_item_box2{
    width: 1700px;
    height: 100%;
    text-align: center;
    
    
}
.online_item_box3{
    width: 1500px;
    height: 1350px;
    display: inline-block;
    position: relative;
    margin: 40px;
}
.online_item_box4{
    width:100%;
    height: 50px;
}

.online_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
    /* text-align: center; */
}


.online_item_box5{
    width: 1280px;
    height: 1200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px;
    
}
.online_item_box6{
    width: 1280px;
    height: 600px;
    position: relative;
}

.online_slides{
    position:absolute;
    height: 100%;
    left:0; 
    top:0;
    width: 3840px;
    padding: 0;
    
}

.online_slides.animated{
    transition: 0.5s ease-out;
}

    
.online_slides li{
    width:300px;
    height: 600px;
    float: left;
    margin: 0 10px;
}

.online_item_box7{
    width: 1280px;
    height: 600px;
    position: relative;
}


.online_slides2{
    position:absolute;
    height: 100%;
    left:0; 
    top:0;
    width: 3840px;
    padding: 0;
    
}

.online_slides2.animated{
    transition: 0.5s ease-out;
}

    
.online_slides2 li{
    width:300px;
    height: 600px;
    float: left;
    margin: 0 10px;
}

.online_page_skip{
    text-align: center;
}
.online_page_skip span{
    color: gray;
    padding: 10px 25px;
    text-align: center;
    border: solid 2px var(--text-color);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    border-radius: 10px;

    font-size: 1.2em;
    letter-spacing: 1px;
    
}

.online_prev{
    left: 40px;
}

.online_next{
    right: 40px;
}

@media screen and (max-width: 1024px){
    .online_item_box1{
        height: 1100px;
    }
    .online_item_box2{
        width: 100%;

    }
    .online_item_box3{
        width: 100%;
        height: 1000px;
        margin: 0;
    }
    .online_txt{
        width: 150px;
        font-size: 1.5em;
    }
    .online_item_box5{
        width: 810px;
        height: 910px;
    }
    .online_item_box6{
        width: 810px;
        height: 450px;
    }
    .online_item_box7{
        width: 810px;
        height: 450px;
    }
    .online_slides{
        height: 500px;
    }
    .online_slides li{
        width: 250px;
        height: 450px;
    }

    .online_slides2{
        height: 500px;
    }
    .online_slides2 li{
        width: 250px;
        height: 450px;
    }
}

@media screen and (max-width: 900px){
    .online_item_box1{
        height: 1050px;
    }
    .online_item_box2{
        width: 100%;

    }
    .online_item_box3{
        width: 100%;
        height: 970px;
        margin: 0;
    }
    .online_txt{
        width: 150px;
        font-size: 1.5em;
    }
    .online_item_box5{
        width: 660px;
        height: 900px;
    }
    .online_item_box6{
        width: 660px;
        height: 450px;
    }
    .online_item_box7{
        width: 660px;
        height: 450px;
    }
    .online_slides{
        height: 450px;
    }
    .online_slides li{
        width: 200px;
        height: 400px;
    }

    .online_slides2{
        height: 450px;
    }
    .online_slides2 li{
        width: 200px;
        height: 400px;
    }
}

@media screen and (max-width: 450px){
    .online_item_box1{
        height: 740px;
    }
    .online_item_box2{
        width: 100%;

    }
    .online_item_box3{
        width: 100%;
        height: 650px;
        margin: 0;
    }
    .online_item_box4{
        width: 100%;
        height: 30px;
    }
    .online_txt{
        width: 150px;
        font-size: 1.1em;
        text-align: left;
        height: 30px;
        padding: 0 20px;
    }
    .online_item_box5{
        width: 350px;
        height: 630px;
        margin: 0;
    }
    .online_item_box6{
        width: 350px;
        height: 320px;
    }
    .online_item_box7{
        width: 350px;
        height: 320px;
    }
    .online_slides{
        height: 300px;
        margin: 8px 0;
    }
    .online_slides li{
        width: 155px;
        height: 280px;
    }

    .online_slides2{
        height: 300px;
        margin: 8px 0;
    }
    .online_slides2 li{
        width: 155px;
        height: 280px;
    }
    .online_prev{
        left: 5px;
    }
    
    .online_next{
        right: 5px;
    }
    .online_page_skip{
        margin: 0;
    }
    .online_page_skip span{
        padding: 7px 10px;
        font-size: 1em;
    }
    
}