.off_box1{
    width: 100%;
    height: 800px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    
}
.off_box2{
    width: 1700px;
    height: 100%;
    border: solid 2px green;
    text-align: center;
    
}
.off_box3{
    width: 1500px;
    height: 700px;
    display: inline-block;
    position: relative;
    border: solid 2px black;
    margin: 40px;
    /* overflow: hidden; */
    /* text-align: center; */

}
.off_box4{
    width:100%;
    height: 50px;
    border: solid 1.5px red;
}
.off_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    border: solid 1px blue;
    padding: 5px 20px;
    /* text-align: center; */
}
.off_box5{
    width: 1300px;
    height: 600px;
    display: inline-block;
    position: relative;
    border: solid 2px pink;
}
.off_box6{
    width: 400px;
    height: 100%;
    border: solid 1px greenyellow;
    float: left;
}
.off_box7{
    width: 890px;
    height: 100%;
    border: solid 1px red;
    float: left;
}