
.online_item_box1{
    width: 100%;
    height: 1370px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    
}
.online_item_box2{
    width: 1700px;
    height: 100%;
    border: solid 2px green;
    text-align: center;
    
}
.online_item_box3{
    width: 1500px;
    height: 1280px;
    display: inline-block;
    position: relative;
    border: solid 2px black;
    margin: 40px;
    /* overflow: hidden; */
    /* text-align: center; */

}
.online_item_box4{
    width:100%;
    height: 50px;
    border: solid 1.5px red;
}

.online_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    border: solid 1px blue;
    padding: 5px 20px;
    /* text-align: center; */
}


.online_item_box5{
    width: 1280px;
    height: 1200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border: solid 2px pink;
    
   
}
.online_slides{
    position:absolute;
    height: 100%;
    left:0; 
    top:0;
    width: 3840px;
    
}

.online_slides.animated{
    transition: 0.2s ease-out;
}

    
.online_slides li{
    width:300px;
    height: 600px;
    float: left;
    margin: 0 10px;
}

.online_page_skip{
    text-align: center;
}
.online_page_skip span{
    color: gray;
    padding: 10px 25px;
    text-align: center;
    border: solid 2px var(--accent-color4);
    border-radius: 10px;

    font-size: 1.2em;
    letter-spacing: 1px;
    
}
.controls{
    text-align: center;
}
.controls span{
    position: absolute;
    color: gray;
    padding: 10px 20px;
    margin :0;
    top: 50%;
    /* transform: translateY(-100%); */
    border: solid 2px blueviolet;
    
}

.online_prev{
    left: 40px;
}

.online_next{
    right: 40px;
}

