.off_box1{
    width: 100%;
    height: 800px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;    
}
.off_box2{
    width: 1700px;
    height: 100%;
    text-align: center;
    
}
.off_box3{
    width: 1500px;
    height: 730px;
    display: inline-block;
    position: relative;
    margin: 40px;
}
.off_box4{
    width:100%;
    height: 50px;
}
.off_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 20px;
}
.off_box5{
    width: 1300px;
    height: 600px;
    display: inline-block;
    position: relative;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}
.off_box6{
    width: 400px;
    height: 100%;
    float: left;
    overflow-y: scroll;
    top:0;
    
}
.off_store_box{
    width: 100%;
    
}
.off_store{
    width: 100%;
    height: 50px;
    font-size: 1.4em;
    letter-spacing: 0.1px;
    display: table;    
}
.off_store span{
    display: table-cell;
    vertical-align: middle;
}
.offline_btn {
    width:99%;
    height:100%;
  
    border: none;
  
    color: var(--text-color);
  
    padding: 15px 30px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 16px;
  
    margin: 4px 2px;
  
    cursor: pointer;
  
  }
.off_box7{
    width: 890px;
    height: 100%;
    float: left;
}
.off_map{
    width: 100%;
    height: 400px;
    text-align: center;
}
#map{
    width:400px;
    height: 350px;
    display: inline-block;
    margin: 25px;
    
}
.off_info{
    width:100%;
    height: 200px;
}

.off_info div{
    width: 100%;
    height: 30%;
    font-size: 20px;
    display: table;
}
.off_info div span{
    display: table-cell;
    vertical-align: center;
}

@media screen and (max-width: 1024px){
    .off_box1{
        height: 650px;
    }
    .off_box2{
        width: 100%;

    }
    .off_box3{
        width: 100%;
        height: 650px;
        margin: 0;
    }

    .off_txt{
        width: 150px;
        font-size: 1.5em;
    }
    .off_box5{
        width: 810px;
        height: 500px;
        margin: 0;
    }
    .off_box6{
        width: 250px;
        overflow-x:hidden;
    }

    .off_box7{
        width: 560px;
    }
    .off_map{
        height: 300px;
    }

    #map{
        width:300px;
        height: 250px;
    }
}

@media screen and (max-width: 900px){
    .off_box1{
        height: 600px;
    }
    .off_box2{
        width: 100%;

    }
    .off_box3{
        width: 100%;
        height: 600px;
        margin: 0;
    }

    .off_txt{
        width: 150px;
        font-size: 1.5em;
    }
    .off_box5{
        width: 660px;
        height: 450px;
        margin: 0;
    }
    .off_box6{
        width: 200px;
        overflow-x:hidden;
    }

    .off_box7{
        width: 460px;
    }
    .off_map{
        height: 300px;
    }

    #map{
        width:300px;
        height: 250px;
    }
    .off_info div{
        height: 40px;
    }
}

@media screen and (max-width: 450px){
    .off_box1{
        height: 400px;
    }
    .off_box2{
        width: 100%;

    }
    .off_box3{
        width: 100%;
        height: 400px;
        margin: 0;
    }
    .off_box4{
        width: 100%;
        height: 30px;
    }

    .off_txt{
        width: 150px;
        font-size: 1.1em;
        text-align: left;
        height: 30px;
        padding: 0 20px;
    }
    .off_box5{
        width: 300px;
        height: 300px;
        margin: 0;
        margin: 10px;
    }
    .off_box6{
        width: 300px;
        overflow-x:hidden;
        
    }

    .off_box7{
        display: none;
    }

}