
.rec_item_box1{
    width: 100%;
    height: 790px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
.rec_item_box2{
    width: 1700px;
    height: 100%;
    text-align: center;
    
}
.rec_item_box3{
    width: 1500px;
    height: 700px;
    display: inline-block;
    position: relative;
    margin: 40px;
}
.rec_item_box4{
    width:100%;
    height: 50px;
}

.rec_item_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 20px;
    /* text-align: center; */
}


.rec_item_box5{
    width: 1280px;
    height: 620px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px;
    
}
.slides{
    position:absolute;
    height: 100%;
    left:0; 
    top:0;
    width: 2560px;
    padding: 0;
}

.slides.animated{
    transition:  0.5s ease-out;
}

    
.slides li{
    width:300px;
    height: 600px;
    float: left;
    margin: 0 10px;
}

.controls{
    text-align: center;
}
.controls span{
    position: absolute;
    color: gray;
    padding: 10px 20px;
    margin :0;
    top: 50%;
}

.controls span.prev{
    left: 40px;
}

.controls span.next{
    right: 40px;
}


@media screen and (max-width: 1024px){
    .rec_item_box1{
        height: 550px;
    }
    .rec_item_box2{
        width: 100%;

    }
    .rec_item_box3{
        width: 100%;
        height: 550px;
        margin: 0;
    }
    .rec_item_txt{
        width: 150px;
        font-size: 1.5em;
    }
    .rec_item_box5{
        width: 810px;
        height: 500px;
    }
    .slides{
        height: 500px;
    }
    .slides li{
        width: 250px;
        height: 450px;
    }
}

@media screen and (max-width: 900px){
    .rec_item_box1{
        height: 500px;
    }
    .rec_item_box2{
        width: 100%;

    }
    .rec_item_box3{
        width: 100%;
        height: 500px;
        margin: 0;
    }
    .rec_item_txt{
        width: 150px;
        font-size: 1.5em;
    }
    .rec_item_box5{
        width: 660px;
        height: 450px;
    }
    .slides{
        height: 450px;
    }
    .slides li{
        width: 200px;
        height: 400px;
    }
}

@media screen and (max-width: 450px){
    .rec_item_box1{
        height: 370px;
    }
    .rec_item_box2{
        width: 100%;

    }
    .rec_item_box3{
        width: 100%;
        height: 370px;
        margin: 0;
    }
    .rec_item_box4{
        width: 100%;
        height: 30px;
    }

    .rec_item_txt{
        width: 150px;
        font-size: 1.1em;
        text-align: left;
        height: 30px;
        padding: 0 20px;
    }
    .rec_item_box5{
        width: 350px;
        height: 320px;
        margin: 0;
    }
    .slides{
        height: 320px;
    }
    .slides li{
        width: 155px;
        height: 280px;
    }
    .controls span.prev{
        left: 5px;
    }
    
    .controls span.next{
        right: 5px;
    }
}