
.rec_item_box1{
    width: 100%;
    height: 790px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}
.rec_item_box2{
    width: 1700px;
    height: 100%;
    text-align: center;
    
}
.rec_item_box3{
    width: 1500px;
    height: 700px;
    display: inline-block;
    position: relative;
    margin: 40px;
}
.rec_item_box4{
    width:100%;
    height: 50px;
}

.rec_item_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 20px;
    /* text-align: center; */
}


.rec_item_box5{
    width: 1280px;
    height: 620px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 10px;
    
}
.slides{
    position:absolute;
    height: 100%;
    left:0; 
    top:0;
    width: 2560px;
}

.slides.animated{
    transition:  0.5s ease-out;
}

    
.slides li{
    width:300px;
    height: 600px;
    float: left;
    margin: 0 10px;
}

.controls{
    text-align: center;
}
.controls span{
    position: absolute;
    color: gray;
    padding: 10px 20px;
    margin :0;
    top: 50%;
}

.controls span.prev{
    left: 40px;
}

.controls span.next{
    right: 40px;
}
