
.rec_item_box1{
    width: 100%;
    height: 790px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    
}
.rec_item_box2{
    width: 1700px;
    height: 100%;
    border: solid 2px green;
    text-align: center;
    
}
.rec_item_box3{
    width: 1500px;
    height: 700px;
    display: inline-block;
    position: relative;
    border: solid 2px black;
    margin: 40px;
    /* overflow: hidden; */
    /* text-align: center; */

}
.rec_item_box4{
    width:100%;
    height: 50px;
    border: solid 1.5px red;
}

.rec_item_txt{
    width: 200px;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    border: solid 1px blue;
    padding: 5px 20px;
    /* text-align: center; */
}


.rec_item_box5{
    width: 1280px;
    height: 620px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: solid 2px pink;
   
}
.slides{
    position:absolute;
    height: 100%;
    left:0; 
    top:0;
    width: 2560px;
    /* overflow: hidden; */
    transform: left 0.5s ease-out;
    /* margin: 10px 0; */
    
}

    
.slides li{
    width:300px;
    height: 600px;
    float: left;
    margin: 0 10px;
}

.item_box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    
}
.slide_img_box{
    height: 450px;
    position: relative;
}

.slide_img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.item_detail_box{
    width: 100%;
    height: 120px;
    padding: 10px;
    position: relative;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.type{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: var(--text-color);

}

.store_name{
    font-weight: 700;
    letter-spacing: 0.5px;
}

.item_name{
    color: rgba(26,26,26,0.5);
}
.item_price{
    font-weight: 300;
    letter-spacing: 0.5px;
}
.overlay{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: var(--accent-color3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_btn{
    width:160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color2);
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy_btn:hover{
    color: var(--background-color2);
    background-color: var(--accent-color);
    transition: all ease 0.3s;
}
.overlay{
    visibility: hidden;
}
.slide_img_box:hover .overlay{
    visibility: visible;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.controls{
    text-align: center;
}
.controls span{
    position: absolute;
    color: gray;
    padding: 10px 20px;
    margin :0;
    top: 50%;
    /* transform: translateY(-100%); */
    border: solid 2px blueviolet;
    
}

.controls span.prev{
    left: 40px;
}

.controls span.next{
    right: 40px;
}
